.place__like-button {
    background-color: transparent;
    background-image: url(../../../images/Vectorlike-button.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: calc(22/320*100vw);
    height: calc(19/320*100vw);
    margin-right: 20px;
    border: 0;
}

@media screen and (min-width: 768px) {
    .place__like-button {
        width: 52.8px;
        height: 45.6px;
    }
}

@media screen and (min-width: 1280px) {
    .place__like-button {
        width: calc(22/1280*100vw);
        height: calc(19/1280*100vw);
    }
}