.place__trash-button {
    position: absolute;
    width: 18px;
    height: 19px;
    top: 20px;
    right: 20px;
    background-color: transparent;
    background-image: url(../../../images/Trash.svg);
    background-size: contain;
    border: 0;
}