.popup__form-text-input {
    margin: 0;
    padding: 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 0 0 9px;
}

.popup__form-text-input::-moz-placeholder { 
    color: black;
 }

.popup__form-text-input::-webkit-input-placeholder { 
    color: black;
 }

 @media screen and (min-width: 1280px) {
    .popup__form-text-input {
        padding: 0 0 13px;
    }
 }
