.profile__avatar {
    border-radius: 50%;
    width: calc(168.75/282*100%);
    margin-bottom: 22.25px;
    object-fit: contain;
}

@media screen and (min-width: 1280px) {
    .profile__avatar {
        margin: 0;
        width: 120px;
    }
}